---
import Heading from "../components/Heading.astro";
---

<hr class="border-t-2 border-black w-full" />
<article class="grid grid-cols-2 grid-rows-2 min-h-[220px]">
    <!-- Øverste venstre hjørne: Overskrift -->
    <div class="row-start-1 col-start-1 flex items-start pl-8 pt-4">
        <Heading style="h1">Instant day</Heading>
    </div>
    <!-- Øverste højre hjørne: Menu -->
    <div class="row-start-1 col-start-2 flex justify-end items-start pr-8 pt-4">
        <nav>
            <ul class="text-right space-y-3 text-xs">
                <li><a href="/" class="hover:underline italic font-bold">HOME</a></li>
                <li><a href="/share" class="hover:underline italic font-bold">SHARE YOUR INSTANCE</a></li>
                <li><a href="/gallery" class="hover:underline italic font-bold">WINNERS & NOMINEES</a></li>
                <li><a href="/info" class="hover:underline italic font-bold">INFO</a></li>
            </ul>
        </nav>
    </div>
    <!-- Nederste venstre hjørne: Email form og tekst -->
    <div class="row-start-2 col-start-1 flex flex-col justify-end pl-8 pb-6">
        <p class="font-sans uppercase italic font-bold text-xs mb-2">Suscribe to our newsletter here!</p>
        <form class="flex">
            <input type="email" placeholder="E-mail" class="w-3/4 px-4 py-3 focus:outline-none pl-2" />
            <button type="submit" class="bg-zinc-600 px-4 flex items-center justify-center border-l-0">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="white" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
            </button>
        </form>
    </div>
    <!-- Nederste højre hjørne: SVG -->
    <div class="row-start-2 col-start-2 flex justify-end items-end pr-8 pb-6">
        <a href="#" aria-label="Go to top">
            <img src="/top.svg" alt="Logo" class="w-40 h-auto md:w-70 cursor-pointer" />
        </a>
    </div>
</article>
