---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
---
<header x-data="{ showmenu: false }" class="bg-primary-400" >
  <div id="navbar" class="mx-10 flex flex-row justify-between items-center">
    <div id="logo" class="flex align-center">
      <a href="/"> <img src="/logo.png" alt="" class="w-30 md:w-40"></a>
    </div>
    <!-- Fjern desktopmenuen helt eller kommentér ud -->
    <!-- <nav id="desktopmenu">...</nav> -->
    <button id="burgermenu" x-on:click="showmenu = ! showmenu">
      <div class="border-t border-t-neutral-500 w-10 pb-2 ml-auto"></div>
      <div class="border-t border-t-neutral-500 w-10 pb-2 ml-auto"></div>
      <div class="border-t border-black w-15 pb-2"></div>
      <div class="border-t border-t-neutral-500 w-10 pb-2 ml-auto"></div>
      <div class="border-t border-t-neutral-500 w-10 ml-auto"></div>
    </button>
  </div>
  <nav id="mobilmenu" class="flex flex-col content-center"
    x-show="showmenu" x-transition x-on:click="showmenu = false" x-on:click.outside="showmenu = false">
    <ul class="border-t-2">
      <li class="text-center py-2 font-sans"><a href="/" class={currentPath === "" ? "" : ""}>Main</a></li>
      <li class="text-center py-2 font-sans"><a href="/info/" class={currentPath === "komponentbibliotek/" ? "font-bold" : ""}>Info</a></li>
       <li class="text-center py-2 font-sans"><a href="/share/" class={currentPath === "komponentbibliotek/" ? "font-bold" : ""}>Share your instants</a></li>
            <li class="text-center py-2 font-sans"><a href="/winnersandnominees/" class={currentPath === "komponentbibliotek/" ? "font-bold" : ""}>Winners and nominees</a></li>
    </ul>
  </nav>
</header>